.dashed {
    position: relative;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 1.5vw auto; /* 1.5% of the viewport width */
    width: 5vw; /* 5% of the viewport width */
    height: 5vw; /* 5% of the viewport width */
    border: 0.65vw dashed white; /* 0.65% of the viewport width */
    border-radius: 50%;
    text-align: center;
    font-family: Helvetica;
    color: white;
}

.dashed::before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -0.8vw; /* -0.8% of the viewport width */
    border-radius: 50%;
    background: inherit;
    content: '';
}

.dashed::after {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0.25vw; /* 0.25% of the viewport width */
    border: 0.15vw dashed white; /* 0.15% of the viewport width */
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.4);
    content: '';
}

.red {
    background-color: #840032;
}

.black {
    background-color: #02040F;
}

.green {
    background-color: green;
}

.blue {
    background-color: #002642;
}
